{% trans_default_domain 'FOSUserBundle' %}

<div class="card contain-sm style-transparent">
    <div class="card-body">
        <div class="row">




            <div class="alert alert-callout alert-info" >
                Пожалуйста, проверьте, что вы на <b><span style="color: #448c47">https://</span>globalbigbell.com/</b>
            </div>

            {% if error %}
                <div class="alert alert-callout alert-info" style="color: #f00000;" >
                    <i class="md md-notifications pull-right text-danger"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form  class="form floating-label" action="{{ path("fos_user_security_check") }}" method="post" style="
                padding-left: 22px;
                padding-right: 22px;
            ">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    {#<label class="form-control" for="username">{{ 'Псевдоним'|trans }}</label>#}
                    <input placeholder="Псевдоним"  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </div>
                <div class="form-group">
                    {#<label class="form-control"  for="password">{{ 'Пароль'|trans }}</label>#}
                    <input  placeholder="Пароль"  class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label class="form-control"   class="form-control" for="remember_me">Запомни меня</label>
                </div>
                <input class="btn btn-primary btn-raised"   class="form-control" type="submit" id="_submit" name="_submit" value="{{ 'вход'|trans }}" />



                <a style="color: #0a6ebd" href="/register/"> Регистрация </a>

            </form>
        </div>
    </div>
</div>
