{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="col-lg-offset-1 col-md-8">
        <div class="card">
            <div class="card-body no-padding">
                <ul class="list">
                    <li class="tile">
                        <a class="tile-content ink-reaction">
                            <div class="tile-text">{{ 'profile.show.username'|trans }}: {{ user.username }}</div>
                        </a>
                    </li>
                    <li class="tile">
                        <a class="tile-content ink-reaction">
                            <div class="tile-text">{{ 'profile.show.email'|trans }}: {{ user.email }}</div>
                        </a>
                    </li>
                </ul>
                <div class="input-group input-group-lg form-group">
                    <span class="input-group-addon"> </span>
                    <a class="btn btn-default btn-success" href="/profile/edit" role="button"  style=" margin-top: 11px;" >{{ 'edit'|trans }}</a>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div>
</div>

