{% trans_default_domain 'FOSUserBundle' %}

<div class="card contain-sm style-transparent">
    <div class="card-body">

        <div class="input-group input-group-lg">
            <span> <h2> Регистрация </h2>  </span>
        </div>


        <script>
            /**
             * @param element
             */
            function toggleCheckbox(element)
            {
                if (element.checked) {
                    document.getElementById("submitButton").disabled = false;
                } else {
                    document.getElementById("submitButton").disabled = true;
                }
            }
        </script>


        {% if referral %}
            <span class="badge style-danger " style="background-color: #60a49c;">
                   Вы регестрируетесь по реферальной программе:
                   <span id="balance"> {{ referral }} </span>
            </span>
        {% endif %}

        <div class="row">

            {{ form_start(form, {'method': 'post', 'action':  path('fos_user_registration_register', {'r': referral})    , 'attr': {'class': 'fos_user_registration_register'}}) }}

            {% if not form.vars.valid %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span>Error:</span>
                {{ form_errors(form.email) }}
                {{ form_errors(form.username) }}
                {{ form_errors(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.second ) }}
            </div>
            {% endif %}

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.username , {'attr': {'class': 'form-control','placeholder':'Псевдоним'}}) }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.name , {'attr': {'class': 'form-control','placeholder':'Имя'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.middlename , {'attr': {'class': 'form-control','placeholder':'Фамилия'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.surname , {'attr': {'class': 'form-control','placeholder':'Отчество'}}) }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon " style="
                    border-left-width: 25px;
                    font-size:1.3em;
                    border-bottom-color: rgba(12, 12, 12, 0.12);
                    background: transparent;
                    border-top: inherit;
                ">Дата рождения</span>
                {{ form_widget(form.dateofbirth , {'attr': {'class': 'form-control','placeholder':'Дата рождения'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.phone , {'attr': {'class': 'form-control','placeholder':'Телефон'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.email , {'attr': {'class': 'form-control','placeholder':'Email'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.plainPassword.first , {'attr': {'class': 'form-control','placeholder':'Пароль'}}) }}
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                {{ form_widget(form.plainPassword.second , {'attr': {'class': 'form-control','placeholder':' Повторите пароль' }}) }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"></span>
                <input type="checkbox"   autocomplete="off"     onchange="toggleCheckbox(this)">
               <i>
                   Я принимаю условия Пользовательского соглашения и даю своё согласие http://globalbigbell.com
                   на обработку моей персональной информации на условиях, определенных Политикой конфиденциальности.
               </i>
            </div>
        <div class="input-group input-group-lg form-group">
                <span class="input-group-addon"> </span>
            <input  disabled id="submitButton" class="btn btn-default btn-success"  style=" margin-top: 11px;"  type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>

        {{ form_end(form) }}

    </div>
</div>
</div>
