{% extends 'admin/base.html.twig' %}

{% block body %}


    <section  style="padding-top: 44px;padding-bottom: 44px;">
        <div class="section-body">
            <div class="row">




                <!-- BEGIN BUTTON -->
                <div class="col-md-3">
                    <div class="card">
                        <button
                                style="color: #f2f3f3;
                                    background-color: #4caf50;
                                    border-color: #4caf50;"
                                 type="button" class=" btn btn-block ink-reaction btn-default-bright"  data-toggle="modal" data-target="#PortfolioOneModal">
                            Фондовый
                        </button>
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END BUTTON -->




                <!-- BEGIN BUTTON -->
                <div class="col-md-3">
                    <div class="card">
                        <button type="button" class=" btn btn-block ink-reaction btn-default-bright"  data-toggle="modal" data-target="#ConservativeModal">
                            Валютый робот
                        </button>
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END BUTTON -->

                <!-- BEGIN BUTTON -->
                <div class="col-md-3">
                    <div class="card">
                        <button type="button" class=" btn btn-block ink-reaction btn-info " data-toggle="modal" data-target="#OptimalModal" >Криптовалютый робот</button>
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END BUTTON -->

                <!-- BEGIN BUTTON -->
                <div class="col-md-3">
                    <div class="card">
                        <button type="button" class="btn btn-block ink-reaction btn-warning"  data-toggle="modal" data-target="#IPOModal" >IPO </button>
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END BUTTON -->


                {#<!-- BEGIN ALERT - REVENUE -->#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="card">#}
                        {#<div class="card-body no-padding">#}
                            {#<div class="alert alert-callout alert-info no-margin">#}
                                {#<strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>#}
                                {#<strong class="text-xl">$ 32,829</strong><br/>#}
                                {#<span class="opacity-50">Revenue</span>#}
                                {#<div class="stick-bottom-left-right">#}
                                    {#<div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div><!--end .card-body -->#}
                    {#</div><!--end .card -->#}
                {#</div><!--end .col -->#}
                {#<!-- END ALERT - REVENUE -->#}

                {#<!-- BEGIN ALERT - VISITS -->#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="card">#}
                        {#<div class="card-body no-padding">#}
                            {#<div class="alert alert-callout alert-warning no-margin">#}
                                {#<strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>#}
                                {#<strong class="text-xl">432,901</strong><br/>#}
                                {#<span class="opacity-50">Visits</span>#}
                                {#<div class="stick-bottom-right">#}
                                    {#<div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div><!--end .card-body -->#}
                    {#</div><!--end .card -->#}
                {#</div><!--end .col -->#}
                {#<!-- END ALERT - VISITS -->#}

                {#<!-- BEGIN ALERT - BOUNCE RATES -->#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="card">#}
                        {#<div class="card-body no-padding">#}
                            {#<div class="alert alert-callout alert-danger no-margin">#}
                                {#<strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>#}
                                {#<strong class="text-xl">42.90%</strong><br/>#}
                                {#<span class="opacity-50">Bounce rate</span>#}
                                {#<div class="stick-bottom-left-right">#}
                                    {#<div class="progress progress-hairline no-margin">#}
                                        {#<div class="progress-bar progress-bar-danger" style="width:43%"></div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div><!--end .card-body -->#}
                    {#</div><!--end .card -->#}
                {#</div><!--end .col -->#}
                {#<!-- END ALERT - BOUNCE RATES -->#}

                {#<!-- BEGIN ALERT - TIME ON SITE -->#}
                {#<div class="col-md-3 col-sm-6">#}
                    {#<div class="card">#}
                        {#<div class="card-body no-padding">#}
                            {#<div class="alert alert-callout alert-success no-margin">#}
                                {#<h1 class="pull-right text-success"><i class="md md-timer"></i></h1>#}
                                {#<strong class="text-xl">54 sec.</strong><br/>#}
                                {#<span class="opacity-50">Avg. time on site</span>#}
                            {#</div>#}
                        {#</div><!--end .card-body -->#}
                    {#</div><!--end .card -->#}
                {#</div><!--end .col -->#}
                {#<!-- END ALERT - TIME ON SITE -->#}

            </div><!--end .row -->





           <!-- begin Оплатить вступительный взнос -->
            {% if user is defined %}
            {% if user.isresident == 0 %}
            <div class="card panel style-default-dark">
                <div class="card-head collapsed" data-toggle="collapse" data-parent="#accordion7" data-target="#accordion7-4">
                    <header> <i style="margin-bottom: 0em;" class="md md-account-balance-wallet"></i> Вступительный взнос</header>
                    <div class="tools">
                        <a class="btn btn-icon-toggle"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                <div id="accordion7-4" class="collapse">
                    <div class="card-body">





                        <div class="row card_">
                            <div class="_col-md-4">

                                <div>

                                    <center>
                                        {% if true %}

                                            <table class="table table-dark">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Ваш Email</th>
                                                    <th>Сумма</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="">
                                                    <th scope="row"></th>
                                                    <td>{{ user.email }}</td>
                                                    <td> 75 $</td>
                                                    <td>
                                                        <form method="post" action="https://payeer.com/merchant/">
                                                            <input type="hidden" name="m_shop" value="{{ m_shop }}">
                                                            <input type="hidden" name="m_orderid" value="{{ m_orderid }}">
                                                            <input type="hidden" name="m_amount" value="{{ m_amount }}">
                                                            <input type="hidden" name="m_curr" value="{{ m_curr }}">
                                                            <input type="hidden" name="m_desc" value="{{ m_desc }}">
                                                            <input type="hidden" name="m_sign" value="{{ sign }}">
                                                            <input type="submit" class="btn btn-primary" name="m_process" value="ok"/>
                                                        </form>
                                                    </td>
                                                    {#<td>#}
                                                        {#<button class="btn btn-primary"   onclick="window.location.href='{{ path('app_admin') }}'" style="background-color: #a8360a;">отмена</button>#}
                                                    {#</td>#}
                                                </tr>
                                                </tbody>
                                            </table>

                                        {% endif %}
                                    </center>


                                </div><!--end .card-body -->
                            </div><!--end .col -->
                        </div>




                    </div>
                </div>
            </div><!--end .panel -->
            {% endif %}
            {% endif %}
            <!-- end Оплатить вступительный взнос -->






            <div class="row" style="padding-top: 40px;">

                <!-- BEGIN SITE ACTIVITY -->
                <div class="_col-md-9">
                    <div class="card ">
                        <div class="row">
                            {#<div class="col-md-8">#}
                                {#<div class="card-head">#}
                                    {#<header>Мои Активы</header>#}
                                {#</div><!--end .card-head -->#}
                                {#<div class="card-body height-8">#}
                                    {#<div id="flot-visitors-legend" class="flot-legend-horizontal stick-top-right no-y-padding"></div>#}
                                    {#<div id="flot-visitors" class="flot height-7" data-title="Activity entry" data-color="#000,#0aa89e"></div>#}
                                {#</div><!--end .card-body -->#}
                            {#</div><!--end .col -->#}
                            <div class="_col-md-4">
                                <div class="card-head">
                                    <header> Инвестированые средства  </header>
                                </div>
                                <div class="card-body height-8">



                                    Роботизированная торговля   (валютый робот)  <strong  style="text-align: right;" id="balance-Conservative">{{ report.conservative }}</strong> USD
                                    {#<span class="pull-right text-success text-sm">0% <i class="md md-trending-up"></i></span>#}
                                    <div class="progress progress-hairline">
                                        <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                    </div>
                                    Роботизированная торговля   (криптовалютый робот)  <strong id="balance-Optimal">{{ report.optimum }}</strong> USD
                                    {#<span class="pull-right text-success text-sm">0% <i class="md md-trending-up"></i></span>#}
                                    <div class="progress progress-hairline">
                                        <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                    </div>
                                    IPO <strong id="balance-IPO">{{ report.ipo }}</strong> USD
                                    {#<span class="pull-right text-danger text-sm">0% <i class="md md-trending-down"></i></span>#}
                                    <div class="progress progress-hairline">
                                        <div class="progress-bar progress-bar-danger" style="width:0%"></div>
                                    </div>
                                    {#32,301 Баланс#}
                                    {#<span class="pull-right text-success text-sm">0,18% <i class="md md-trending-up"></i></span>#}
                                    {#<div class="progress progress-hairline">#}
                                        {#<div class="progress-bar progress-bar-primary-dark" style="width:63%"></div>#}
                                    {#</div>#}
                                    Свободные средства <strong id="available_funds">{{ report.available_funds  }}</strong> USD
                                    {#<span class="pull-right text-success text-sm">0% <i class="md md-trending-up"></i></span>#}
                                    <div class="progress progress-hairline">
                                        <div class="progress-bar progress-bar-primary-dark" style="width:0%"></div>
                                    </div>
                                </div><!--end .card-body -->
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END SITE ACTIVITY -->
            </div><!--end .row -->
        </div><!--end .section-body -->
    </section>


    <!-- Modal -->
    <div class="modal fade" id="ConservativeModal" tabindex="-1" role="dialog" aria-labelledby="ConservativeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">  Роботизированная торговля   (валютый робот)   </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- BEGIN SPINNERS -->
                    <div class="row">
                        <div class="col-lg-12">
                            {#<h4> Валютый робот - (регистрационная форма) </h4>#}
                        </div><!--end .col -->
                        <div class="">
                            <div class="card">
                                <div class="card-body">


                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td>Форма проведения:</td>
                                            <td>3 видео урок.</td>
                                        </tr>
                                        <tr>
                                            <td>Oбъем услуг</td>
                                            <td>Роботизированная торговля   (валютый робот)</td>
                                        </tr>
                                        <tr>
                                            <td>Содержание</td>
                                            <td>Инвестиции</td>
                                        </tr>
                                        </tbody>
                                    </table>




                                    <form class="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="valueConservativeModal"  placeholder="0" />
                                            <label>Сума за которую вы покупаете услугу $ </label>
                                        </div>
                                    </form>
                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <!-- END SPINNERS -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-raised btn-primary" onclick="App.Invest('Conservative') "> Купить (инвестировать) </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    {#<a href="#" class="btn btn-link" >Подробней</a>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="OptimalModal" tabindex="-1" role="dialog" aria-labelledby="OptimalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">    Роботизированная торговля   (криптовалютый робот)  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- BEGIN SPINNERS -->
                    <div class="row">
                        <div class="col-lg-12">
                            {#<h4>Оптимальный</h4>#}
                        </div><!--end .col -->
                        <div class="">
                            <div class="card">
                                <div class="card-body">

                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td>Форма проведения:</td>
                                            <td>3 видео урок.</td>
                                        </tr>
                                        <tr>
                                            <td>Oбъем услуг</td>
                                            <td>Роботизированная торговля   (криптовалютый робот)</td>
                                        </tr>
                                        <tr>
                                            <td>Содержание</td>
                                            <td>Инвестиции</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <form class="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="valueOptimalModal" placeholder="0" />
                                            <label>Сума инвестирования $</label>
                                        </div>
                                    </form>
                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <!-- END SPINNERS -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-raised btn-primary" onclick="App.Invest('Optimal')" > Купить (инвестировать) </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    {#<a href="#" class="btn btn-link">Подробней</a>#}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="IPOModal" tabindex="-1" role="dialog" aria-labelledby="IPOModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="IPOModalLabel">     IPO  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- BEGIN SPINNERS -->
                    <div class="row">
                        <div class="col-lg-12">
                            {#<h4> IPO </h4>#}
                        </div><!--end .col -->
                        <div class="">
                            <div class="card">
                                <div class="card-body">


                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td>Форма проведения:</td>
                                            <td>3 видео урок.</td>
                                        </tr>
                                        <tr>
                                            <td>Oбъем услуг</td>
                                            <td>IPO</td>
                                        </tr>
                                        <tr>
                                            <td>Содержание</td>
                                            <td>Инвестиции</td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <form class="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  id="valueIPOModal" placeholder="0" />
                                            <label>Сума инвестирования $</label>
                                        </div>
                                    </form>
                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <!-- END SPINNERS -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ink-reaction btn-raised btn-primary" onclick="App.Invest('IPO') " >Купить (инвестировать)</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    {#<a href="#" class="btn btn-link">Подробней</a>#}
                </div>
            </div>
        </div>
    </div>









    <!--  begin  PortfolioOneModal -->
    <!-- Modal -->
    <div class="modal fade" id="PortfolioOneModal" tabindex="-1" role="dialog" aria-labelledby="PortfolioOneModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PortfolioOneModalLabel">     Фондовый  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- BEGIN SPINNERS -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h4> Фондовый </h4>
                        </div><!--end .col -->
                        <div class="">
                            <div class="card">
                                <div class="card-body">
                                    {#<form class="form">#}
                                        <div class="form-group">
                                            {#<input type="text" class="form-control"  id="valueIPOModal" placeholder="0" />#}
                                            <label>Фондовый</label>
                                        </div>
                                    {#</form>#}




                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Основные характеристики портфеля</th>
                                            <th scope="col">Показатели</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Доходность</td>
                                            <td>30-50%-годовых</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Риск</td>
                                            <td>до 10-20% от депо</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Минимальная сумма входа</td>
                                            <td>100$</td>

                                        </tr>


                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Частота выплат</td>
                                            <td>1 раз в квартал, с 1-5 число следующего месяца</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Минимальный срок работы портфеля</td>
                                            <td>любой</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Вывод тела депозита</td>
                                            <td>да</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Стратегия инвестирования</td>
                                            <td>долгосрочная</td>

                                        </tr>
                                        </tbody>
                                    </table>



                                </div><!--end .card-body -->
                            </div><!--end .card -->
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <!-- END SPINNERS -->
                </div>
                <div class="modal-footer">
					 <a href="https://my.broker.ru/login/" class="btn  btn-success" target="_blank" > Ваш БКС брокер </a>
                    <a href="/docs/1.docx"  class="btn btn-info"titile='Как зарегистрироваться в портфеле-инструкция'> Инструкция </a>
                    {#<button type="button" class="btn ink-reaction btn-raised btn-primary" onclick="App.Invest('IPO') " >Инвестировать</button>#}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    {#<a href="#" class="btn btn-link">Подробней</a>#}
                </div>
            </div>
        </div>
    </div>
    <!--  end PortfolioOneModal -->









    {#<ul class="timeline">#}
        {#<li class="timeline-inverted">#}
            {#<div class="timeline-circ"></div>#}
            {#<div class="timeline-entry">#}
                {#<div class="card style-primary">#}
                    {#<div class="card-body small-padding">#}
                        {#..#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</li>#}
        {#<li>#}
            {#<div class="timeline-circ"></div>#}
            {#<div class="timeline-entry">#}
                {#<div class="card style-primary">#}
                    {#<div class="card-body small-padding">#}
                        {#..#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</li>#}
        {#...#}
    {#</ul>#}

{% endblock %}